<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="espacioportiempo.com" />
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
  </head>

  <body style="font-family:Open Sans,Helvetica,Arial,sans serif;">
    <div style="padding-top:3%; text-align: center; background-color: #fafafa;">
      <h1 style="padding-bottom: 16px;">Nuevo Espacio</h1>
    </div>

<div style="padding-top: 30px;">
  <p style="text-align: center"> Se ha creado un nuevo espacio por {{name}}.</p>
  <h3 style="text-align:center;font-size:1.7em;font-weight:700;line-height:130%;color:#0e1318;letter-spacing:-0.3px;margin:0 0 16px;">
    {{title}}
  </h3>
  <p style="text-align: center">{{imagesLength}} imágenes</p>


  <div style="display:flex; width: 100%; overflow-x: scroll;margin-bottom: 24px;">

    <!-- <img style="height: 240px;margin: 6px;border-radius: 3px;" src="https://firebasestorage.googleapis.com/v0/b/ext-api.appspot.com/o/images%2Fk0MvPBD2mkYiozAaRUMEFqHjjmP2%2F22HKs5zJJJPEnzaFgm6R%2Fphoto_0?alt=media&token=6e45227d-e92b-4450-8c12-34702e1c7181"> -->
    {{images}}
  </div>

  <a href="{{link}}" style="
  background:#00c4cc;
  border-radius:4px;
  color:#ffffff;
  border:12px solid #00c4cc;
  font-family:Open Sans,Helvetica,Arial,sans serif;
  font-size:0.9em;
  font-weight:600;
  line-height:160%;
  margin:0 auto 12px;
  text-decoration:none;
  text-transform:none;
  text-align:center;
  display: block;
  width: 150px;">
  Ver detalles y aprobar</a>





</div>
  <div style="text-align:center; padding-top: 0.5em;padding-bottom: 0.5em;background-color: #fafafa;">
    <img src="https://drive.google.com/uc?id=15QOl8nAr1aQmBgmLjxo9_GRc_1gIeGvv&export=download&authuser=0" style="width:10em;">
  </div>

  </body>
</html>

